body {
  margin: 0;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background-color: #555;
  image-rendering: pixelated; /* Make pixels crisp */
  border: 2px solid #ccc;
}
